# Specify docker as a dependency
sudo: required
services:
  - docker

# Build test version of React project
before_install:
 - docker build -t brandongladen/react-test -f ./client/Dockerfile.dev ./client

# Run tests
script:
  - docker run brandongladen/react-test npm test -- --coverage

# Build prod versions of all projects
after_success:
  - docker build -t brandongladen/complex-client ./client
  - docker build -t brandongladen/complex-nginx ./nginx
  - docker build -t brandongladen/complex-server ./server
  - docker build -t brandongladen/complex-worker ./worker

# Login to docker hub
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

# Push images to docker hub
  - docker push brandongladen/complex-client
  - docker push brandongladen/complex-nginx
  - docker push brandongladen/complex-server
  - docker push brandongladen/complex-worker

